@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600');
@import url('https://fonts.googleapis.com/css2?&family=Sorts+Mill+Goudy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital@1&display=swap');


*{
    margin: 0px;
    padding: 0px;

    color: #db3e3e;
    color: #a10000;
    color: #8a1515;
    color: #7300a1;
    color: #4c4c4c;
    color: #4c4c4c;

    background-color: #fcfcfc;

    /* font-family: 'Overpass', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif; */
    font-family: 'Taviraj', serif;
    font-weight: 400;
    font-style: italic;
    animation: appeardelay 0.5s ease-in forwards;
}

a{
    text-decoration: none;
}

body{
    height: 102%;
    background-color: #fcfcfc;
}

.brandtext{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
}

.wrapper{
    width: 100%;
    height: auto;

    font-family: 'Taviraj', serif;
    font-weight: 400;
    padding: 1px;
}

.header{
    width: 90%;
    height: 90px;

    border-bottom: 1px solid rgb(238, 238, 238);
    margin: 0px auto;
}

.headerTitle{
    width: 200px;
    height: 60px;
    margin: 30px auto;
    font-size: 20px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;

    text-align: center;
    line-height: 60px;
    animation: appeardelay 1s ease forwards;
}

.base{
    width: auto;
    height: auto;
    max-width: 80%;

    border: 0px solid lightgrey;
    border-radius: 10px;

    margin: 4em auto;
    padding: 2em 4em;
    animation: appeardelay 1.5s ease-in forwards;

    display: flex;
    flex-wrap: wrap;
}

.bodyContent{
    width: 100%;
    height: inherit;

    color: grey;
    font-size: 1em;

    line-height: 400px;
    text-align: center;
}

.imgFrameHolder{
    width: 400px;
    height: 400px;

    background: url(/img/backlight.png);
    background-size: cover;

    margin: 20px auto 10px;
    padding: 0px 5px;
    border: 0px solid lightgrey;

    text-align: center;
    display: block;

    z-index: -1;
    position: relative;
}

.imgFrame{
    width: 280px;
    height: 280px;

    background: url(/content/truthcards-000-28-12-2019.jpg);
    background-size: cover;

    border-radius: 15px;
    box-shadow: 0px 2px 4px lightgrey;
    float: left;

    z-index: 0;
    position: relative;
}

.imgFramei{
    width: 180px;
    height: 180px;

    background: url(/content/truthcards-002-28-12-2019.jpg);
    background-size: cover;

    border-radius: 15px;
    box-shadow: 0px 2px 4px lightgrey;
    margin-top: -40px;
    float: right;

    z-index: -1;
    position: relative;
}

.txtFrameHolder{
    width: 500px;
    height: auto;

    margin: 20px auto 10px;
    padding: 0px 5px;
    border: 0px solid lightgrey;

    text-align: center;
    display: block;
}

.txtFrame{
    width: 100%;

    font-family: 'EB Garamond', serif;
    font-family: 'Playfair Display', serif;
    font-size: 3.5em;

    padding: 80px 0px 0px;
}

.banner{
    width: auto;
    height: auto;
    max-width: 80%;

    background: #f0f0f0;
    border: 0px solid lightgrey;
    border-radius: 10px;

    margin: 4em auto;
    padding: 2em 4em;
    animation: appeardelay 1.5s ease-in forwards;

    display: flex;
    flex-wrap: wrap;
}

.bannerFrame{
    width: auto;
    height: auto;
    background: #f0f0f0;
    border: 0px solid olive;
    margin: 0px auto;
}

.bannerText{
    width: auto; 
    
    background: transparent; 
    border: 0px solid red;
    
    font-family: 'Taviraj', serif;
    font-weight: 500; 
    font-size: 1.3em; 

    text-align: center;
    vertical-align: middle;
    display: inline-block;

    padding: 0px 20px;

}

.downloadBtn{
    width: 120px;
    height: 40px;

    background: #db3e3e;
    color: whitesmoke;
    border-radius: 5px;

    font-family: 'Taviraj', serif;
    line-height: 40px;
    text-align: center;

    cursor: pointer;
    
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

.downloadBtn:hover{
    width: 120px;
    height: 40px;

    background: #e94646;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.footer{
    width: 90%;
    height: 80px; 

    border-top: 2px solid lightgrey;
    line-height: 60px;

    margin: 1em auto 0em;
    text-align: center;
}

.footerLogo{
    width: 200px;
    height: 60px;

    border: 0px solid red;
    color: lightgray;

    font-size: 14px;
    text-align: center;

    margin: 0px auto;
    padding: 0px;

    display: inline-block;
    vertical-align: top;
}

@keyframes appeardelay{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}